{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <title>LOGIN</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Edulearn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
            />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- Custom-Files -->
    <!-- Bootstrap-Core-Css -->
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <!-- Style-Css -->
    <link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all"/>
    <!-- Font-Awesome-Icons-Css -->
    <link rel="stylesheet" href={% static "css/fontawesome-all.css" %}>
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <!-- //Web-Fonts -->

</head>
<body>
<header>
    <!-- top header -->

    <!-- //top header -->
    <!-- middle header -->
    <div class="middle-w3ls-nav py-2">
        <div class="container">
            <div class="row">
                <a class="logo font-italic font-weight-bold col-lg-4 text-lg-left text-center" href="index.html">G.U.E.T.A
                    <div class="col-lg-8 right-info-agiles mt-lg-0 mt-sm-3 mt-1">
                        <div class="row">

                            <div class="col-sm-4 col-6 top-login-butt text-right mt-sm-2">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- //middle header -->
</header>
<!-- //header -->

<!-- banner -->
<div class="banner-agile-2">
    <!-- navigation -->
    <div class="navigation-w3ls">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="about.html">About Us</a>
                    </li>

                    <li class="nav-item">
							<a class="nav-link text-white" href="blog.html">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="gallery.html">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="contact.html">Contact Us</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="facreg.html">Registration</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="login.html">Login</a>
						</li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- //navigation -->
</div>

<!-- Js files -->
<!-- JavaScript -->
<script src={% static "js/jquery-2.2.3.min.js" %}></script>
<!-- Default-JavaScript-File -->
<script src={% static "js/bootstrap.js" %}></script>
<!-- Necessary-JavaScript-File-For-Bootstrap -->

<!-- smooth scrolling -->
<script src={% static "js/SmoothScroll.min.js" %}></script>
<!-- //smooth scrolling -->

<!-- move-top -->
<script src={% static "js/move-top.js" %}></script>
<!-- easing -->
<script src={% static "js/easing.js" %}></script>
<!--  necessary snippets for few javascript files -->
<script src={% static "js/edulearn.js" %}></script>

<!-- //Js files -->


</body>
</html>